*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

.form-label{
  font-size: 12px !important;
}